.header__border {
    border-bottom: 1px solid #545454;
    opacity: 0.7;
    padding-bottom: 41px;
}

@media screen and (max-width: 1279px) {
    .header__border {
        padding-bottom: 32.8px;
    }
}

@media screen and (max-width: 1023px) {
    .header__border {
        padding-bottom: 24.6px;
    }
}

@media screen and (max-width: 767px) {
    .header__border {
        padding-bottom: 31.6px;
    }
}