.photo__exit {
    background: transparent;
    border: none;
    outline: none;
    color: white;
    cursor: pointer;
    transition: 0.7s ease all;
    position: absolute;
    top: -40px;
    right: -40px;
}

.photo__exit:hover {
    opacity: 0.5;
}