.header__logo {
    width: 142px;
}

@media screen and (max-width: 1279px) {
    .header__logo {
        width: 113.6px;
    }
}

@media screen and (max-width: 1023px) {
    .header__logo {
        width: 85.2px;
    }
}

@media screen and (max-width: 767px) {
    .header__logo {
        width: 103.74px;
        margin-left: 27px;
    }
}