.place__delete {
    width: 18px;
    height: 19px;
    position: absolute;
    top: 18px;
    right: 15px;
    cursor: pointer;
    transition: 1s ease all;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.place__delete:hover {
    opacity: 0.5;
}