.footer {
    margin: 67px auto 0;
    color: rgba(84, 84, 84, 1);
}

@media screen and (max-width: 1279px) {
    .footer {
        margin-top: 53px;
    }
}

@media screen and (max-width: 1023px) {
    .footer {
        margin-top: 40px;
    }
}

@media screen and (max-width: 767px) {
    .footer {
        max-width: calc(100% - 2 * 19px);
        margin-top: 48px;
    }
}